[data-theme="light"]{
    --bg-color:#ffffff;
    --text-color:#080808;
  }
  
  [data-theme="dark"]{
    --bg-color:#333333;
    --text-color:#ffffff;
  }
  
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo{
 
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box  img{
    width: 15px;
}

.mode-switch label {
    display: inline-block;
    width: 40px;
    height: 23px;
    position: relative;
    margin-left: 4px;
    margin-right: 8px;
  }
  
  .mode-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .mode-switch input:checked + .slider {
    background-color: #838080;
  }
  
  .mode-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .mode-switch input:checked + .slider:before {
    transform: translateX(20px);
  }


@media (max-width: 900px){
    .menu-icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 21px;
    }
    .logo{
        width: 60px;
    }
    .nav-middle .mic-icon{
        display: none;
    }
    .nav-middle {
       margin-left: 5px;
    }
    .nav-middle .search-box input{
        width: 100px;
     }
     .mode-switch label {
        display: inline-block;
        width: 32px;
        height: 20px;
        position: relative;
        margin-left: 4px;
        margin-right: 8px;
      }
      .mode-switch .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 14px;
        left: 6px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    
}