[data-theme="light"]{
  --bg-color:#ffffff;
  --text-color:#333333;
}

[data-theme="dark"]{
  --bg-color:#000000ec;
  --text-color:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--bg-color);
  background: var(--bg-color);
  color:var(--text-color);
}

a{
  text-decoration: none;
  color: #5a5a5a;
}
img{
  cursor: pointer;
}

.flex-div{
  display: flex;
  align-items: center;
}